.carousel-indicators {
    display: none;
   
}
.title-carousel {
   text-align: center;
   font-family: 'Vast Shadow', cursive;
   color: #c59914;
}
.carousel-control-next,
.carousel-control-prev {
    display: none;

}
.carousel-item {
    transition-duration: 0.2;
}
div.col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
