.carousel-indicators {
    display: none;
   
}

.carousel-control-next,
.carousel-control-prev {
    display: none;

}

.carousel-item {
    transition-duration: 0.2;
    /* display: contents, */
}
div.col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
