.logo {
    font-family: 'Cabin Sketch', cursive;
    font-size: 7rem;
    color: black;
}
.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-text {
    font-size: 2rem;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    color: #e6b31e;
    line-height: normal;
}
.header-button {
    background-color: #e6b31e;
    width: 50%;
    height: 3rem;
    border: 2px solid rgba(0, 0, 0, 0.384);
    color: white;
    
}