.form {
    margin: 50px;
    width: 500px;
    height: 100%;
}
.box {
    display: flex;
    margin: 20px 0
}
#person{
    margin: 0;
}
#form-person {
    background-color: white;
    display: flex;
    position: relative;
    margin: 0;
    padding: 20px 0;
    width: 100%;
    height: 110vh;
    top: 25px;
}
#map-form-person {
    height: 103vh;
    width: 100%
}
.form-person-box {
    margin: 0 60px;
    width: 70%;
}
.form-label, .form-group {
    font-family: 'Cabin Sketch', cursive;
    font-weight: 600
}
.form-person-box h1, h5 {
    color: #e6b31e;
    font-weight: 700;
    font-family: 'Cabin Sketch', cursive;
}
.form-person-map {
    width: 100%;
}
.form-person-button {
    height: 103vh;
    width: 20vh;
    margin: 0 10px
}


