.form {
    margin: 50px;
    width: 500px;
    height: 1000px;
}

#company {
    margin: 0;
}
#form-company{
    display: flex;
    position: relative;
    margin: 0;
    width: 100%;
    padding: 20px 0;
    height: 110vh;
    top: 25px;
    background-color: white;
}      
#map-form-company {
    height: 103vh;
    width: 100%
}

.form-company-box {
    margin: 0 60px;
    width: 70%;
}
.form-company-box h1, h5 {
    color: #e6b31e;
    font-weight: 700;
    font-family: 'Cabin Sketch', cursive;
}
.form-company-map {
    width: 100%;
}
.form-company-button {
    height: 103vh;
    width: 20vh;
    margin: 0 10px
}

