div.container {
    max-width: 100%;
}
div.row {
    width: 100%;
    height: 100%;
}
div.col{
    width: 100%;
    height: 100%;
}

div.col-3 {
    max-width: 100%;
}

.container-box .row{
    display: flex;
    flex-direction: column;
}
.videoItem {
    width: 100%;
}


@media (min-width:580px) {
    .container-box .row{
        display: flex;
        flex-direction: row;
    }
}
   